/*Formatações Gerais*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

h1 {
  color: #4e4e4e;
  font-size: 2.5em;
}

h2 {
  color: #d7b600;
}

.white {
  color: white;
}

.green {
  color: #5D8512;
}

.red {
  color: #F55154;
}

body {
  font-size: 1em;
  background: #e6e6e6;
  font-family: 'Nunito', sans-serif;

}

/*Layout*/

#header {
  background-color: #0c0c0c;
  padding: 15px;
  text-align: center;

}

#area-logo,
#area-menu {
  padding: 10px;

}

#main-area {

    width: 900px;
    margin: 0;

}

#post-area {
  width: 650px;
  margin: auto;
  float: right;

}

.post {
  padding: 20px;
  margin-bottom: 20px;
  background: white;
}

.side-content {
  background: white;
  padding: 10px;
  margin-bottom: 20px;
  width: 230px;
  float: left;
}

#side-area {
  width: 240px;
  float: left;
}

#footer {
  clear: both;
  text-align: center;
  padding: 15px;
  background: #ccc;

}

/*Formatação do Menu*/
a {
  text-decoration: none;
}

a:link,
a:Visited {
  color: #000;

}

a:hover {
  text-decoration: underline;
}

#header a:link,
#header a:Visited {
  color: #fff;
  padding: 8px 12px;
}

#header a:hover {
  color: #993a3a;
  background: rgb(22, 22, 22);
  text-decoration: none;
}

/* side-bar */

#side-content {
  width: 250px;
  float: left;
}

.side-content a:link,
.side-content a:visited {
  color: #fff;
  background: #000;

}

.side-content a:hover {

  background: rgb(22, 22, 22);
  color: #993a3a;
  padding-left: 20px;
}

.side-content a {
  display: block;
  margin: 05px 0px;
  border-radius: 15px 15px;
  padding: 8px 12px;
}

/* Forms */


label {
  font-weight: bold;
}

textarea {
  max-width: 195px;
  max-height: 160px;
}

/* Map */

.location-map {
  box-shadow: 0px 2px 14px -3px rgb(0 0 0 / 75%)
}