.header {
  background-color: #212121;
  padding: 0.9375em;
  text-align: center;
  /* width: 100%; */
}

.header a:link,
.header a:visited {
  color: rgb(255, 255, 255);
  padding: 0.5em 0.75em;
  transition-duration: 0.4s;
}

.header a:hover {
  color: #993a3a;
  background: rgb(22, 22, 22);
  text-decoration: none;
}

.header__logo {
  padding: 0.625em;
}

.span--white {
  color: white;
}

.span--green {
  color: #5d8512;
}

.span--red {
  color: #f55154;
}

.parallax {
  /* The image used */
  background-image: url(../../image/parallax2.png);

  /* Full height */
  height: 90%;

  /* Create the parallax scrolling effect */

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
