main {
  display: flex;
  flex: 1;
  justify-content: center;
  /* flex-direction: column; */
  width: 100%;
  margin: auto;
  background-color: #212121;
}

.main__title {
  justify-content: center;
  text-align: center;
}
