nav {
  justify-content: space-around;
  display: flex;
  align-items: baseline;
  padding: 0.625em;
}

.nav__list {
  display: flex;
  justify-content: center;
  margin: 0;
}

.nav__link {
  border: 0.3125em;
}
