aside {
  flex-direction: column;
  display: flex;
  order: -1;
  width: 21.875em;
  padding: 0.625em;
  background-color: #303030;
}

.aside__link:link,
.aside__link:visited {
  color: #fff;
  transition-duration: 0.4s;
}

.aside__link:hover {
  background: rgb(22, 22, 22);
  color: #993a3a;
  padding-left: 1.25em;
  text-decoration: none;
}

.aside__link {
  display: block;
  margin: 0.3125em 0em;
  padding: 0.5em 0.75em;
}

.aside__nav {
  margin: 0 auto;
}

.aside__title {
  color: #f55154;
  height: 3.125em;
  text-align: center;
}
