/* Area Contact*/

html,
body {
  height: 100%;
}

.main--contact {
  background-color: #212121;
  flex-direction: column;
  margin: auto;
  min-height: 100%;
}

.aside__form {
  background: #303030;
  border: 0.125em solid #ccc;
  padding: 0.625em;
  margin-right: 0.625em;
  margin-left: 0.625em;
}

/* Map */

.location-map {
  box-shadow: 0em 0.125em 0.875em --0.1875em rgb(0 0 0 / 75%);
  width: 31.25em;
}

/* Form */

fieldset {
  padding: 0.5em;
}

label {
  font-weight: bold;
  color: #c9d1d1;
}

input,
button {
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  outline: none;
}


.input-container--invalido .input-label {
  color:#f55154;
}

.input-mensagem-erro {
    display: none;
}

.input-container--invalido .input-mensagem-erro {
    color:#f55154;
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}


.button {
  border: none;
  color: white;
  padding: 1em 4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1;
  margin: 0.25em 0.125em;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color: white;
  color: black;
  border: 0.125em solid #424242;
}

.button:hover {
  background-color: #424242;
  color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
  margin: 3em auto;
}

.form--label {
  margin: auto;
  width: 12.8125em;
}
