/*Formatações Gerais*/

h1 {
  color: #4e4e4e;
  font-size: 2.5em;
  text-align: center;
}

h2 {
  color: #d7b600;
}



.white {
  color: white;
}

.green {
  color: #5D8512;
}

.red {
  color: #F55154;
}

body {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  background: #e6e6e6;

}

.post img {
  width: 50%;
}




/*Layout*/

#header {
  background-color: #0c0c0c;
  padding: 15px;
  text-align: center;
}

#area-logo,
#area-menu {
  padding: 10px;

}

#main-area {

  width: 100%;
  margin-top: 1%;
  padding: 15px;

}

#post-area {
  width: 80%;
  float: right;

}


.post {
  padding: 20px;
  margin-bottom: 20px;
  background: white;
}



.side-content {
  background: white;
  padding: 10px;
  margin-bottom: 20px;
  width: 20%;
}

#footer {
  clear: both;
  text-align: center;
  padding: 15px;
  background: #ccc;

}

/*Formatação do Menu*/
a {
  text-decoration: none;
}

a:link,
a:Visited {
  color: #000;

}

a:hover {
  text-decoration: underline;
}

#header a:link,
#header a:Visited {
  color: #fff;
  padding: 8px 12px;
}

#header a:hover {
  color: #993a3a;
  background: rgb(22, 22, 22);
  text-decoration: none;
}

/* side-bar */

.side-content a:link,
.side-content a:visited {
  color: #fff;
  background: #000;

}

.side-content a:hover {

  background: rgb(22, 22, 22);
  color: #993a3a;
  padding-left: 20px;
}

.side-content a {
  display: block;
  margin: 05px 0px;
  border-radius: 15px 15px;
  padding: 8px 12px;
}

/* Forms */

fieldset {}

label {
  font-weight: bold;
}

textarea {
  max-width: 195px;
  max-height: 160px;
}

/* Map */

.location-map {
  box-shadow: 0px 2px 14px -3px rgb(0 0 0 / 75%)
}