* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-size: 1em;
  font-family: "Cormorant SC", serif;
}

button {
  cursor: pointer;
}

body {
  background: #ffffff;
  /* display: flex; */
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 100vw;
  height: 100%;
  color: #fff;
}

li a {
  list-style-type: none;
  text-decoration: none;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
}

h1 {
  color: #4e4e4e;
  font-size: 2.5em;
}

h2 {
  color: #f55154;
}

.span--white {
  color: white;
}

.span--green {
  color: #5d8512;
}

.span--red {
  color: #f55154;
}
