/*Import CSS*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;500;700&display=swap");
@import "reset.css";
@import "../layout/header.css";
@import "../layout/main.css";
@import "../layout/nav.css";
@import "../components/button.css";
@import "../components/picture.css";
@import "../components/loader.css";
@import "../layout/article.css";
@import "../layout/aside.css";
@import "../layout/footer.css";
@import "../state/";
@import "theme";
@import "../layout/section.css";

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1200px) {
  nav {
    font-size: 0.5em;
  }

  article > div:first-child {
    padding: 3em;
  }

  section.section {
    padding: 0em;
  }

  .nav__list {
    font-size: x-large;
  }

  .article__desc {
    font-size: 1.25em;
  }

  .article__picture {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .article:nth-child(odd),
  .article {
    flex-direction: column;
    margin: 0 auto;
  }

  .article div,
  .article picture {
    width: 100%;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {
  .article,
  .article:nth-child(odd) {
    flex-direction: column;
    /* margin: 2.25em 0em 2.25em 0em; */
  }
  .article > div:first-child {
    /* padding: 10px; */
  }

  /* menu toggle */

  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30px;
    padding: 10px;
    cursor: pointer;
  }

  .hamburger.open span.bar:first-of-type {
    transform: rotate(45deg) translate(4px, 10px);
  }

  .hamburger.open span.bar:last-of-type {
    transform: rotate(-45deg) translate(4px, -10px);
  }

  .hamburger.open span.bar:nth-child(2) {
    opacity: 0;
  }

  .bar {
    height: 5px;
    width: 30px;
    background: white;
    transition: 0.5s;
  }

  nav {
    transform: translateX(-150%);
    transition: 0.5s;
  }

  nav.open {
    transform: translateX(0);
  }

  nav ul {
    flex-wrap: wrap;
  }
  nav ul li {
    list-style: none;
    margin-bottom: 10px;
  }

  .header {
    display: flex;
    flex-direction: column;
  }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  nav {
    font-size: 0;
  }
  .article,
  .article:nth-child(odd) {
    flex-direction: column;
  }
  .article > div:first-child {
    /* padding: 10px; */
  }
  .article div,
  .article picture {
    width: 100%;
  }
}
