/*Import CSS*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;500;700&display=swap");
@import "reset.css";
@import "../layout/header.css";
@import "../layout/main.css";
@import "../layout/nav.css";
@import "../components/button.css";
@import "../components/picture.css";
@import "../layout/article.css";
@import "../layout/aside.css";
@import "../layout/footer.css";
@import "../state/";
@import "theme";
@import "../layout/section.css";

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .nav__list {
    font-size: x-small;
  }
  .article,
  .article:nth-child(odd) {
    flex-direction: column;
  }
  .article > div:first-child {
    padding: 10px;
  }
  .article div,
  picture {
    width: 100%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 799.99px) {
  .article,
  .article:nth-child(odd) {
    flex-direction: column;
    margin: 2.25em 0em 2.25em 0em;
  }
  .article > div:first-child {
    padding: 10px;
  }
  .article div,
  picture {
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 800px) and (max-width: 991.98px) {
  article > div:first-child {
    padding: 3em;
  }

  section.section {
    padding: 0em;
  }

  .nav__list {
    font-size: x-large;
  }

  .article__desc {
    font-size: 1.25em;
  }

  .article__picture {
    width: 55%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1201px) {
}
